<% include header.ejs %>

<div class="container">
  <div class="card mt-5 shadow-lg">
    <div class="card-header text-light bg-info">
      <h1>Listado de Peliculas</h1>
      <div class="form-group">
        <a href="/addmovie" class="btn btn-large btn-outline-light"  >Agregar</a>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-search" onclick="filterData();"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<% include footer.ejs %>