<div class="row p-2 mb-5">
    <table class="table table-responsive-sm table-striped">
        <tr class="header">
            <th onclick="setOrder();">Pelicula</th>
            <th onclick="setOrder();">Genero</th>
            <th onclick="setOrder();">Año</th>
            <th>Acciones</th>
        </tr>
        <tbody>
            <% locals.movies.forEach((item)=>{ %>
                <tr>
                    <td><% item.title %></td>
                    <td><% item.genero %></td>
                    <td><% item.year %></td>
                    <td>
                        <a href="/details/<% item._id %>" class="mr-3 "><i class="fa fa-info"></i> </a>
                        <a href="/edit/<% item._id %>" class="mr-3 "><i class="fa fa-edit"></i> </a>
                    </td>

                </tr>
            <% }); %>
        </tbody>
    </table>
    <div>
        <div class="d-inline-block mr-3">
            <select class="btn btn-light" name="" id="pageCount" onchange="pageCountChange();">
                <option value="5" <% if(recPerPage == 5){%> selected <% } %>>5</option>
                <option value="10"<% if(recPerPage == 10){%> selected <% } %>>10</option>
                <option value="20"<% if(recPerPage == 20){%> selected <% } %>>20</option>
            </select>
        </div>
        <div class="paginatorcontainer d-inline-block" >
            <ul class="pagination">
                <li class="page-item">
                    <a href="page-link" href="#"  <%if(currentPage>1) { %> onclick="pageChange(-1);" 
                        <% }%> >&laquo; </a>
                </li>
                <% for (i=1;i<=cantPages;i++){ %>
                    <li class="page-item <% if(i == currentPage){%> active  <%}%> " >
                    <a class="page-link" href="#" onclick="gotoPage(<%= i %>);"> <%=i%> 
                    </a>
                    </li>
                <% } %>
                <li class="page-item">
                        <a href="page-link" href="#"  <% if( currentPage > cantPages ) { %> onclick="pageChange(1);" 
                            <% }%> >&raquo; </a>
                    </li>
            </ul>    
        </div>

    </div> 
</div>